*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* line-height: 1.5; */
    background-color: rgb(38, 37, 37);
    
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    height: 100VH;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgb(204, 225, 243);
}

.img-card img {
   display: flex;
   flex: auto;
}

.img-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


